.column1 img {
  max-height: 225px;
}

.cover {
  background-color: black;
  background-size: contain !important;
  position: relative;
}

.cover::before {
  content: 'WE ARE OPEN NOW';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.325);
  padding: 2rem;
  font-size: 3rem;
  text-align: center;
}
