.column1 img {
	max-height: 225px;
}
.directions {
	display: none!important;
}
.contactDetails {
	display: none!important
}
svg[data-icon='truck'] {
	display: none!important
}
a[href="tel:203-627-5798"] {
	display: none!important
}

@media only screen and (max-width: 1023px){
	.boxesContainers {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.css-rk1kuh{
		order: 1;
	}
	.contentBoxesLinks.css-vcv4k7{
		order: 2;
	}
	.css-14e4e6g{
		order: 3;
	}
	.css-bejy1n{
		order: 5;
	}
	form[name="contactform"]{
		order: 4;
	}
	a[href="https://www.gonation.com/place/ct-teen-nights/pulse"] {
		display: none;
	}
}