/* ? san serifs */

/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* ? serifs */
/* font-family: 'Merriweather', serif; */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  /* background-color: #501a84; */
}

/* .phone {
  display: none !important;
} */
/* 
.directions {
  display: none !important;
} */

.column1 {
  background-color: black !important;
  color: white;
}
.column2 {
  background-color: #501a84;
}
/* 
.column1 .directions a {
  color: white;
}

.socialIcons a div {
  color: white;
} */
/* 
.column1 {
  background-color: #080f18 !important;
}

.column1 .contactDetails a {
  color: white;
}

.column1 .socialIcons {
  filter: brightness(0) invert(1);
}
 */

body .footer {
  background-color: #2e2e2e !important;
  margin-top: 0rem;
  padding: 0.5rem 1rem 4rem;
}
@media only screen and (min-width: 1024px) {
  body .footer {
    background-color: #2e2e2e !important;
    margin-top: 0rem;
    padding: 0rem 1rem;
  }
  body .contactDetails a {
    color: white;
  }

  body .socialIcons a {
    color: white;
  }
  body .socialIconText {
    color: white;
  }
}

body .contactDetails {
  border-bottom: solid 1px black;
  /* text-align: center; */
  margin-bottom: 1rem;
}
